.project-title {
    color: rgba(0, 0, 0, 0.842);
    font-size: 60px;
    font-weight: 500;
    text-shadow: 5px 0 rgb(255, 0, 0), 0 0px black, 0px 0 black, 0 0px black;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.projects-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.projects-container img {
    margin: 5px 10px;
    outline: 1px solid rgb(192, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}