.container-project {
    position: relative;
    margin-top: 120vh;
    padding-top: 50px;
}

.project-title {
    color: rgba(0, 0, 0, 0.842);
    font-size: 60px;
    font-weight: 500;
    text-shadow: 5px 0 rgb(255, 0, 0), 0 0px black, 0px 0 black, 0 0px black;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.projects-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.projects-container img {
    margin: 5px 10px;
    outline: 1px solid rgb(192, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

@media (max-width: 550px) {
    .container-project {
        margin-top: 10vh;
    }
    
}

@media (max-width: 450px) {
    .project-title {
        font-size: 35px;
    }

    .projects-container img {
        height: 300px;
        width: 250px;
    }

    .container-project {
        margin-top: 15vh;
    }
    
}